.search-container{
    margin-top: 100px;
}
.search-container button {
    height: 38px;
    float: center;
    padding: 6px 10px;
    font-family: 'Times New Roman', Times, serif;
    
    margin-left: 0px;
    background: #ffa800;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
.search-container input{
    font-family: 'Times New Roman', Times, serif;
    height: 40px;

}
  
  .search-container button:hover {
    background: #ccc;
  }
.table{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.table a{
    color: #ffa800;
}



