<html>
  <div class="container">
    <div class="col-md-12 col-xs-12">
      <div class="cards py-5 ">
        <div class="d-flex flex-row justify-content-center flex-wrap">
          <div class="card">
            <div class="card-body">

              <div class="title">
                <h5 class="card-title py-3" >
                  WELCOME TO LECTURERS FOLLOWUP </h5>
                  
                </div>
              
                  <p class="card-text text-center">please fill your detail</p>

                  <form>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email address</label>
                      <input type="email"   class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
                      
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input type="password"     class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <p class="forgot px-5 text-center " id="forgot" style="color: white;" >forgot password?</p>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <button routerLink="/home" type="button" class="btn  btn-sm px-5" value="Sign Up">submit</button>
                  </form>


           </div>



          </div>

          <div class="card" style="width: 26.5rem;">
            <div class="card-body">
              <img src="assets/logonew.png" class="img-fluid text-center px-5" style="height: 250px;"/>
              <p class="card-text"> our aim is sustainably building an education and trainig
                system that ensures quality and equitable education for all
                citizens and that continously produces a competent work force
                fueling the countrys development.</p>

               <div class="button px-5 py-5 btn-toolbar"   >
                <button type="button" class=" btn-circle btn-sm" style="background-color: #FFFFFF;"></button> 
                <button type="button" class="btn-circle btn-sm"></button> 
               <button type="button" class="btn-circle btn-sm"></button> 
              <button type="button" class=" btn-circle btn-sm"></button> 

</div>




             
              
                 

           </div>



          </div>





        </div>




      </div>




    </div>






  </div>











  </html>




























<!--
<div class="container">
  <div class="row">
  <div class="login-form col-md-6 offset-md-1">
    <h1 class="title">login</h1>

    <form>
      <div class="form-group">
        <label>username</label>

        <input type="text" name="" class="form-control">
        </div>
        <div class="form-group">
          <label>username</label>
  
          <input type="text" name="" class="form-control">
          </div>
          <div class="form-group">
            <label>username</label>
    
            <input type="text" name="" class="form-control">
            </div>

        

        <button class="btn btn-primary">login </button>



    </form>



  </div>
  </div>
  <div class="container">
  <div class="login-formm col-md-6 offset-md-1">
    <h1 class="title">login</h1>

    <form>
      <div class="form-group">
        <label>username</label>

        <input type="text" name="" class="form-control">
        </div>
        <div class="form-group">
          <label>username</label>
  
          <input type="text" name="" class="form-control">
          </div>
          <div class="form-group">
            <label>username</label>
    
            <input type="text" name="" class="form-control">
            </div>

        

        <button class="btn btn-primary">login </button>



    </form>



  </div>
  </div>






</div>

<div class="container">
  <h1 style="color: black;">Hello World!</h1>
  <div class="row">

    <div  class="col-sm-6" id="#partone" style="background-color:#343030; border-radius: 20px;box-shadow: yellow;">
      <p class="welcome">Welcome To Lecturers FollowUP</p>
      <p class="fill"> please fill your detail </p>
      <form>
        <div class="form-group">
         
  
          <input type="text" name="" class="form-control" placeholder="email">
          </div>
          <div class="form-group">
            
    
            <input type="text" name="" class="form-control" placeholder="password">
            </div>
            <div class="form-group">
              
      
              <input type="text" name="" class="form-control" placeholder="full name">
              </div>
              <p class="forgot">forgot password?</p>
  
          
  
          <button class="btn btn-primary">login </button>
  
  
  
      </form>
  
    </div>
    <div class="col-sm-6" id="partwo" style="background-color:#343030; border-radius: 20px;">
      <img src="assets/tt.jpg" >
      <p class="discrip">our aim is sustainably building an education and trainig
       system that ensures quality and equitable education for all
       citizens and that continously produces a competent work force
       fueling the countrys development.


        
      </p>
      
  
    </div>
  </div>
</div>
  </html>-->