



<!DOCTYPE html>
<html lang="en">
<head>
 
</head>
<body>

<nav class="navbar   fixed-top navbar-expand-md bg-dark navbar-dark">
  <img src="assets/logonew.png" style="width: 60px; height: 60px;"/>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active " href="#">Home</a>
      </li>
      <li class="nav-item">
        <a   class="nav-link " href="#" routerLink= "/registor">Registor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#" routerLink = "/show">Show Me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">logout</a>
      </li>    
    </ul>
  </div>  
</nav>


<div class="container-fluid">
    <div class="row">
        <div class="banner">
            <img src="assets/power.jpg"/>
       <!--     <h1 class="heading">QUALITY OF EDUCATION <br>
                 FOR ALL</h1>


        <p class="two">with lecturers follow up we can control
            the quality of our education
        </p>-->
  </div>




    </div>



</div>


<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
       
        <p class="text-justify">The main use of this system is finding out teachers who are found in more than one campus. information of teachers is provided to the system by provided sectors. so When the concerned sectors search for a name to check whether she or he work on more than one campus the system will immediately look for the information provided to the it and show them similarity in percent. </p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Categories</h6>
        <ul class="footer-links">
          <li><a href="http://scanfcode.com/category/c-language/">C</a></li>
          <li><a href="http://scanfcode.com/category/front-end-development/">UI Design</a></li>
          <li><a href="http://scanfcode.com/category/back-end-development/">PHP</a></li>
          <li><a href="http://scanfcode.com/category/java-programming-language/">Java</a></li>
          <li><a href="http://scanfcode.com/category/android/">Android</a></li>
          <li><a href="http://scanfcode.com/category/templates/">Templates</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="http://scanfcode.com/about/">About Us</a></li>
          <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
          <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
          <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
          <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by 
     <a href="#">Ministory Of Education</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
        </ul>
      </div>
    </div>
  </div>
</footer>


</body>
</html>